<a class="row" style="cursor: pointer" class="list-group-item clearfix" [routerLink]="[index]" routerLinkActive="active">
    <div class="col-md-8 pull-left">
        <h2 class="list-group-item-heading">{{equipmentElement.equipmentName}}</h2>
        <h4 class="list-group-item-heading">{{equipmentElement.amount}}</h4>
        <p class="list-group-item-text">{{equipmentElement.description}}</p>
    </div>
    <span class="col-md-4 pull-right">
            <img                     
                [src]="equipmentElement.imageUrl"
                alt="{{equipmentElement.equipmentName}}" 
                class="img-thumbnail">
        </span>
</a>