<div class="row">
    <div class="col">
        <div class="container-sm">

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Rent Id</th>
                        <th>Date Booked</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Vehicle Name</th>
                        <th>Vehicle No</th>
                        <th>Equipments</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let rent of rentList">
                        <td>{{rent.rentId}}</td>
                        <td>{{rent.currentDateTime | date:'MM/dd/yyyy, h:mm a'}}</td>
                        <td>{{rent.dateTimeFrom | date:'MM/dd/yyyy, h:mm a'}}</td>
                        <td>{{rent.dateTimeTo | date:'MM/dd/yyyy, h:mm a'}}</td>
                        <td>{{rent.vehicle.rentTime}}</td>
                        <td>{{rent.vehicle.plateNo}}</td>
                        <td>
                            <div *ngFor="let equipments of rent.vehicleRentEquipments">
                                <p> {{equipments.equipment.equipmentName}}</p>
                            </div>
                        </td>
                        <td>
                            <button class="btn btn-success" type="button" data-toggle="modal" data-target="#extendRent" [disabled]="(greaterThan(currentDate, rent.dateTimeTo)) ? true : false">
                                <span class="fa fa-clock-o "></span>
                            </button>
                        </td>
                        <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#extendRent">Extend -->
                        <app-extend-rent-form class="modal fade" [rentId]="rent.rentId" id="extendRent"></app-extend-rent-form>

                    </tr>

                </tbody>

            </table>
        </div>
    </div>

</div>