<div class="body">
    <div class="pimg1">
        <div class="ptext">
            <button class="btn btn-primary" data-toggle="modal" data-target="#addVehicle" (click)="onAdd()">Add New Vehicle</button>
        </div>
    </div>
    <div class="pimg2">
        <div class="ptext2">
            <div class="row">
                <div class="col">
                    <div class="container">
                        <router-outlet></router-outlet>
                        <app-vehicle-form class="modal fade" id="addVehicle" tabindex="-1" role="dialog" aria-labelledby="addVehiclemodal" aria-hidden="true"></app-vehicle-form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>