<p>home</p>
<br>
<div class="row">
    <div class="col-md-12">
        <form class="form-inline d-flex justify-content-center md-form form-sm">
            <input class="form-control" id="searchBar" type="text" placeholder="Search" aria-label="Search">
            <span><i class="fa fa-search" aria-hidden="true"></i></span>
        </form>
    </div>

</div>
<br><br><br>
<!-- <app-cust-vehicle-list></app-cust-vehicle-list> -->
<div class="row">
    <div class="col">
        <div class="container">
            <router-outlet></router-outlet>

            <!-- <router-outlet></router-outlet> -->
        </div>
    </div>
</div>