.btn-secondary {
    width: 40%;
    background-color: #fff;
    border: 3px solid #3f9c90;
    color: black;
}

.btn-primary {
    width: 40%;
    background-color: #3f9c90;
    border: 3px solid #3f9c90;
    color: black;
}