.card {
    box-shadow: 5px 5px 10px rgb(53, 52, 52);
}

#fontCar {
    font-size: 80px;
    /* font-size: 5rem; */
    border-radius: 50%;
    background-color: white;
}

h2 {
    text-align: center;
    /* margin-top: 20%; */
}

a {
    color: black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-sm {
    width: 30%;
}

input {
    background: transparent;
    border-radius: 25px;
    color: black;
    border: 1px solid white;
    font-size: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-animation: autofill 0s forwards;
    animation: autofill 0s forwards;
}

.prepend {
    background-color: transparent;
}

::placeholder {
    color: rgb(5, 5, 5);
}

button {
    border-radius: 18px;
    background-color: #093637;
    width: 100%;
    border: #093637;
}

button[disabled] {
    border-radius: 18px;
    background-color: #032020;
    width: 100%;
}

.card {
    background: #44A08D;
    background: -webkit-linear-gradient(to bottom, #093637, #44A08D);
    background: linear-gradient(to bottom, #093637, #44A08D);
}

input.ng-invalid.ng-touched {
    border-color: #f50707;
}

.help-block {
    color: white;
}

@keyframes autofill {
    100% {
        background: transparent;
        color: inherit;
    }
}

@media screen and (max-width: 992px) {
    .container-sm {
        margin: 0;
        padding: 0;
        width: 90%;
    }
    #passwordClass {
        margin: 0;
        padding: 0;
        width: 100%;
    }
}