<div class="body">
    <div class="pimg1">
        <div class="ptext">
            <span class="border"> SIGN UP </span>
        </div>
        <div class="container-sm mx-auto">
            <div class="card col">
                <div class="card-body">
                    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">

                        <div class="form-row">
                            <div class="col form-group">
                                <div class="input-group">
                                    <input class="form-control" id="nameId" type="text" formControlName="name" placeholder="Name">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                             <i class="fa fa-user"></i></span>
                                    </div>
                                </div>
                                <span *ngIf="!registerForm.get('name').valid && registerForm.get('name').touched" class="help-block">Please enter your Name</span>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col form-group">
                                <div class="input-group">
                                    <input class="form-control" id="nicId" type="text" formControlName="nic" placeholder="NIC">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                             <i class="fa fa-id-card-o"></i></span>
                                    </div>
                                </div>

                                <span *ngIf="!registerForm.get('nic').valid && registerForm.get('nic').touched" class="help-block">Please enter your NIC</span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col form-group">
                                <div class="input-group">
                                    <input class="form-control" id="dobId" type="date" formControlName="dob" placeholder="DOB">
                                </div>

                                <span *ngIf="!registerForm.get('dob').valid && registerForm.get('dob').touched" class="help-block">Please enter your DOB</span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col form-group">
                                <div class="input-group">
                                    <input class="form-control" id="emailId" type="email" formControlName="email" placeholder="Email">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i>@</i></span>
                                    </div>
                                </div>
                                <span *ngIf="!registerForm.get('email').valid && registerForm.get('email').touched" class="help-block">Please enter your Email</span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col form-group">
                                <div class="input-group">
                                    <input class="form-control" id="mobileNoId" type="text" formControlName="mobileNo" placeholder="Mobile No">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-mobile" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                </div>
                                <span *ngIf="!registerForm.get('mobileNo').valid && registerForm.get('mobileNo').touched" class="help-block">Please enter your Contact Number</span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col form-group">
                                <div class="input-group">
                                    <input class="form-control" id="drivingLicenceId" type="text" formControlName="drivingLicence" placeholder="Driving Licence No">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-car"></i></span>
                                    </div>
                                </div>
                                <span *ngIf="!registerForm.get('drivingLicence').valid && registerForm.get('drivingLicence').touched" class="help-block">Please enter your User name</span>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col form-group">
                                <div class="input-group">
                                    <input class="form-control" id="userNameId" type="text" formControlName="username" placeholder="Username">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                             <i class="fa fa-user"></i></span>
                                    </div>
                                </div>
                                <span *ngIf="!registerForm.get('username').valid && registerForm.get('username').touched" class="help-block">Please enter your User name</span>
                            </div>
                        </div>

                        <div class="form-row" formGroupName="passwords">
                            <div class="col-md-12 form-group">
                                <div class="input-group">
                                    <input class="form-control" id="passwordId" type="password" formControlName="password" placeholder="Password">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fa fa-lock"></i></span>
                                    </div>
                                </div> <span *ngIf="!registerForm.get('passwords.password').valid && 
                                    registerForm.get('passwords.password').touched" class="help-block">Please enter valid Password</span>
                            </div>
                            <div class="col-md-12 form-group">
                                <div class="input-group">
                                    <input class="form-control" id="reEnterPasswordID" type="password" formControlName="reEnterPassword" placeholder="Re-enter Password">
                                    <span *ngIf="!registerForm.get('passwords.reEnterPassword').valid && 
                                         registerForm.get('passwords.reEnterPassword').touched" class="help-block">Please enter valid Password
                                        </span>
                                </div>
                            </div>
                        </div>
                        <span *ngIf="checkPassword(registerForm.get('passwords')) &&  registerForm.get('passwords.reEnterPassword').touched">Password Missmatching</span><br>
                        <button type="submit" class="btn btn-primary" [disabled]="!registerForm.valid">Sign Up</button>
                    </form>
                    <br>
                    <div id="fail" class="alert alert-danger" role="alert" *ngIf="isFailed">
                        Registration failed!<br/>{{ errorMessage }} </div>
                    <hr>
                    <a routerLink="/login" id="loginLink">Sign In  &nbsp; 
                       <i class="fa fa-sign-in"></i>
                       </a>
                </div>
            </div>
        </div>
    </div>