form {
    margin-bottom: 50px;
    /* background-color: white;
    opacity: 1; */
}

button {
    margin: 2%;
}

.carousel-item {
    border: 1px #ede9e9 solid;
}

.rowID {
    width: 100%;
}

.dateFromID,
.dateToID {
    width: 50%;
}

.img-fluid {
    padding: 5%;
}

.btn-success,
.btn-secondary,
.btn-primary {
    width: 40%;
    background-color: #fff;
    border: 3px solid #3f9c90;
    color: black;
}

@media screen and (max-width: 992px) {
    .rowID {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .dateFromID,
    .dateToID {
        margin: 0;
        padding: 0;
        width: 100%;
    }
}