/* #list {
    width: 100%;
    justify-content: center
} */

.container-sm {
    width: 100%;
}

.btn-success {
    width: 40%;
    background-color: #fff;
    border: 3px solid #3f9c90;
    color: black;
    letter-spacing: 4px;
    text-transform: uppercase;
}

@media screen and (max-width: 992px) {
    .container-sm {
        margin: 0;
        padding: 0;
        width: 100%;
    }
}