<!-- <div class="row">
    <div class="col-md-12">
        <form class="form-inline justify-content-center">
            <input class="form-control" id="searchBar" type="text" placeholder="Search" aria-label="Search">
            <span><i class="fa fa-search" aria-hidden="true"></i></span>
        </form>
    </div>
</div> -->

<div class="search-hero">
    <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Start searching for a hero by id or name or country">
</div>

<br><br>
<div class="row">
    <div class="container-sm">
        <app-vehicle-item class="vehicleItem" *ngFor="let item of vehicleList | filterVehicle:searchText" [vehicleElement]="item" [index]="item.vehicleId">
        </app-vehicle-item>
    </div>
</div>