<!-- Button trigger modal -->
<a data-toggle="modal" data-target="#forgotPassword">Forgot Password &nbsp;<i class="fa fa-question"></i></a>

<!-- Modal -->
<div class="modal fade" id="forgotPassword" tabindex="-1" role="dialog" aria-labelledby="forgotPasswordmodal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col mx-auto m-3 d-flex justify-content-center">
                    <h1 class="modal-title" id="forgotPasswordmodal">Forgot Password</h1>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onClose()">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSendEmail()">
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i>@</i></span>
                        </div>
                        <input class="form-control" id="emailId" type="text" formControlName="email" placeholder="Email">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onClose()">Close</button>
                        <button id="sendEmail" type="submit" class="btn btn-primary" [disabled]="!forgotPasswordForm.valid">Send Email</button>
                        <hr>

                    </div>
                </form>
            </div>

        </div>
    </div>
</div>