a {
    color: black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: auto;
}

@media screen and (max-width: 992px) {
    .container-sm {
        margin: 0;
        padding: 0;
        width: 100%;
    }
}