<app-header></app-header>
<router-outlet></router-outlet>


<!-- <form [formGroup]="myForm" (ngSubmit)="submit()">
    <div class="form-group">
        <input formControlName="file" id="file" type="file" multiple (change)="onFileChange($event)">
    </div>

    <div class="container-sm" style="display: flex;">
        <a *ngFor='let url of images;let i = index' style="padding: 4%;">
            <div class="row">
                <div class="col-md-12" style="margin:0;padding:0">
                    <button type="button" class="btn btn-danger" (click)="onClose(i)">Remove</button>
                </div>
                <div class="col-md-12" style="margin:0;padding:0">
                    <img [src]="url" class="img-thumbnail" style="position: absolute;">

                </div>
            </div>
        </a>
    </div>
</form> -->