<div class="row">
    <div class="col-md-7" id="box1">
        <h1><span class="border">Contact Us</span></h1>
    </div>
    <div class="col-md-5">
        <div class="myDiv1">
            <button type="button" class="btn btn-primary" id="sendEmail" data-toggle="modal" data-target="#contactUsModel"> Send us an Email
            </button>
            <div class="modal fade" id="contactUsModel" tabindex="-1" role="dialog" aria-labelledby="contactUsModelTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="contactUsModelTitle">How can we help you?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                        </div>
                        <div class="modal-body">
                            <form [formGroup]="contactForm" (ngSubmit)="onSend()">
                                <textarea id="textId" class="form-control" type="text" rows="6" formControlName="text"></textarea>
                                <div class="modal-footer">
                                    <button type="button" id="closeEmail" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" id="submitEmail" class="btn btn-primary" [disabled]="!contactForm.valid">Send Email</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>