<div class="row">
    <div class="col-md-8" id="box1">
        <h1><span class="border">Contact Us</span></h1>
    </div>
    <div class="col-md-4">
        <div class="container-sm  mx-auto">
            <div class="row">
                <div class="col-md-3">
                    <div class="div1">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/1024px-Instagram_icon.png">
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="div1">
                        <p>077-9292747</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="div1">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRJQdATD1GAtYLRCCSNL7e6gyZyyvDrbONoFfz4TK_5XrM_WCF8&usqp=CAU">
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="div1">
                        <p>@Bangers_rent</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="div1">
                        <img src="https://cdn.freebiesupply.com/logos/large/2x/facebook-icon-white-logo-png-transparent.png">
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="div1">
                        <p>@Bangers_rent</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="div1">
                        <img src="https://www.pngitem.com/pimgs/m/509-5095199_twitter-social-media-icon-png-transparent-png.png">
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="div1">
                        <p>@Bangers_rent</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="div1">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSjtsp_r-tH1lYaAuFkIlnl-lugthssIs0J7ercsG-zIPyKNOFq&usqp=CAU">
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="div1">
                        <p>011-1234567</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>