#box1 {
    height: 100vh;
    width: 100%;
    background-image: url(https://images.pexels.com/photos/1834403/pexels-photo-1834403.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
    background-size: cover;
    position: relative;
}

.row {
    margin: 0;
    padding: 0;
}

h1 {
    opacity: 0.70;
    position: absolute;
    top: 20%;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    color: black;
    font-size: 50px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.border {
    background-color: white;
}

.myDiv1 {
    display: flex;
    justify-content: center;
    margin-top: 50%;
}

#closeEmail {
    border-radius: 18px;
    background: white;
    width: 100%;
    color: black;
    border: 1px solid #093637;
}

#sendEmail,
#submitEmail,
#closeEmail:hover {
    border-radius: 18px;
    background: #093637;
    width: 100%;
    color: white;
    border: 1px solid #093637;
}

#sendEmail:hover,
#submitEmail:hover {
    border-radius: 18px;
    background: #3f9c90;
    width: 100%;
    border: 1px solid #093637;
}


/* .row {
    height: 100vh;
    width: 100%;
    background-image: url(https://images.pexels.com/photos/1834403/pexels-photo-1834403.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
    background-size: cover;
    position: relative;
} */