<table class="table table-hover table-dark table-responsive">
    <thead>
        <tr>
            <th scope="col">Vehicle</th>
            <th scope="col">Rate Per Month</th>
            <th scope="col">Rate Per Week</th>
            <th scope="col">Excess Milage Per Day</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of webScrapeList; let i = index">
            <th scope="row">{{data.vehcileName}}</th>
            <td id="td">{{data.ratePerMonth}}</td>
            <td id="td">{{data.ratePerWeek}}</td>
            <td id="td">{{data.excessMilagePerDay}}</td>
        </tr>
    </tbody>
</table>