<!-- Modal -->
<div>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col mx-auto m-3 d-flex justify-content-center">
                    <h1 class="modal-title" id="addVehiclemodal">Add Vehicle</h1>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onClose()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="vehicleForm" (ngSubmit)="onAddVehicle()">
                    <div class="form-group">
                        <label for="vehicleNameId">Vehicle Name</label>
                        <input id="vehicleNameId" class="form-control" type="text" formControlName="vehicleName">
                    </div>
                    <div class="form-group">
                        <label for="plateNoId">Plate No</label>
                        <input id="plateNoId" class="form-control" type="text" formControlName="plateNo">
                    </div>
                    <div class="form-group">
                        <label for="amountId">Amount</label>
                        <input id="amountId" class="form-control" type="text" formControlName="amount">
                    </div>
                    <div class="form-group">
                        <label for="quantityId">Quantity</label>
                        <input id="quantityId" class="form-control" type="number" formControlName="quantity">
                    </div>
                    <div class="form-group">
                        <label for="vehicleTypeId">Vehicle Type</label>
                        <select id="vehicleTypeId" class="form-control" formControlName="vehicleType">
                            <option *ngFor="let type of vehicleTypeList">{{type.name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="imageURLId">Image URL</label>
                        <input id="imageURLId" class="form-control" type="text" formControlName="imageUrl" #imageUrl>
                    </div>
                    <div class="form-group">
                        <img [src]="imageUrl.value" class="img-thumbnail">
                    </div>
                    <div class="form-group">
                        <label for="descriptionId">Description</label>
                        <textarea id="descriptionId" class="form-control" type="text" formControlName="description"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onClose()">Close</button>
                        <button type="submit" class="btn btn-primary" [disabled]="!vehicleForm.valid">Add Vehicle</button>
                        <hr>
                        <div class="alert alert-success" role="alert" id="errorMessage" *ngIf="isSubmitted===true">{{message}} </div>
                        <div class="alert alert-danger" role="alert" id="errorMessage" *ngIf="isError===true">{{message}} </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>