<div class="card" style="width: 18rem;">
    <div class="container">
        <img [src]="vehicleElement.imageUrl" alt="{{vehicleElement.vehicleName}}" class="img-fluid">
    </div>
    <div class="card-body">
        <h5 class="card-title">{{vehicleElement.vehicleName}}</h5>
        <p class="card-text">{{vehicleElement.plateNo}}</p>
        <p class="card-text">{{vehicleElement.vehicleId}}</p>
        <a (click)="onDetails(index)" class="btn btn-primary">Detail</a>
    </div>

    <div class="alert alert-danger" role="alert" *ngIf="isLogged===false">
        <br>{{message}} </div>
</div>