.card {
    box-shadow: 5px 5px 10px rgb(53, 52, 52);
}

.card-body {
    background: rgb(216, 235, 231);
}

.descriptionText {
    font-size: 0.95rem;
}

.descContainer {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.btn-primary {
    width: 40%;
    background-color: #fff;
    border: 3px solid #3f9c90;
    color: black;
}

img {
    /* object-fit: contain; */
    height: 200px;
    width: 100%;
}