<div class="card" style="width: 18rem;">
    <div class="container-main">
        <img [src]="vehicleElement.imageUrl" alt="{{vehicleElement.vehicleName}}" class="imageView">
    </div>
    <div class="card-body">
        <h5 class="card-title">{{vehicleElement.vehicleName}}</h5>
        <div class="descContainer">
            <p class="card-text descriptionText">{{vehicleElement.description}}</p>
        </div>
        <p class="card-text">$ {{vehicleElement.amount}}</p>
        <a (click)="onDetails(index)" class="btn btn-primary">Detail</a>
    </div>
</div>